.hamburger {
  margin: 0 40px 0 0;
  width: 18px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hamburger span {
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(1) {
  -webkit-transform: translate3d(0, 6px, 0) rotate(45deg);
          transform: translate3d(0, 6px, 0) rotate(45deg);
}

.hamburger.active span:nth-child(3) {
  -webkit-transform: translate3d(0, -6px, 0) rotate(-45deg);
          transform: translate3d(0, -6px, 0) rotate(-45deg);
}

.hamburger.active:hover {
  -webkit-transform: none;
          transform: none;
}

.header {
  width: 100%;
  height: 48px;
  background-color: #40A7E3;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__left {
  width: 33%;
  min-width: 270px;
  padding: 17px 20px 15px 22px;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__left:hover, .header__left.active {
  background-color: #1f90d1;
}

.header__left:hover .hamburger, .header__left.active .hamburger {
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}

.header__username {
  color: white;
  font-weight: bold;
}

.header__right {
  width: 69%;
  padding: 15px 19px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right:hover, .header__right.active {
  background-color: #1f90d1;
}

.header__right * {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #b9cfe3;
}

.header__chat-name {
  max-width: 180px;
  overflow: hidden;
  margin-right: 15px;
  font-weight: bold;
  color: white;
}

.header__functions {
  width: 33%;
  min-width: 270px;
  position: absolute;
  top: 48px;
  opacity: 1;
  left: 0;
  z-index: 1000;
  padding: 9px 0 7px 0;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(15, 60, 96, 0.2);
  border-left-color: #b5c3d0;
  border-right-color: #b5c3d0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__functions.hide {
  opacity: 0;
  visibility: hidden;
}

.header__functions-item {
  width: 100%;
  padding: 11px 19px 10px 21px;
  color: #40A7E3;
}

.header__functions-item:hover {
  background-color: #F2F6FA;
}

.header .add-dialog {
  width: 100%;
  max-width: 420px;
  background-color: #fff;
  margin-top: 43px;
  overflow: hidden;
}

.header .add-dialog-modal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999999999;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: visible;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .add-dialog-modal.fade {
  visibility: hidden;
}

.header .add-dialog__title {
  padding: 19px 15px;
  background-color: #40A7E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 13px;
}

.header .add-dialog__title * {
  color: white;
}

.header .add-dialog__title__close {
  cursor: pointer;
}

.header .add-dialog__name-foto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
}

.header .add-dialog__name-foto input {
  margin: 0;
}

.header .add-dialog__foto {
  margin-right: 10px;
  width: 100%;
  height: 100%;
  min-width: 48px;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #40A7E3;
  border-radius: 10000000000000000px;
  cursor: pointer;
}

.header .add-dialog__foto-wrapper {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.header .add-dialog__foto img {
  width: 22px;
}

.header .add-dialog__search input#add-dialog__search {
  width: 100%;
  height: 34px;
  background-image: url("./../img/icons.png");
  background-size: 42px 1171px;
  background-position: -8px -205px;
  position: relative;
  background-repeat: no-repeat;
  padding: 6px 27px 6px 30px;
}

.header .add-dialog__list {
  padding-top: 10px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.header .add-dialog__list-item {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  background-color: #fff;
}

.header .add-dialog__list-item.active {
  background-color: #40A7E3;
}

.header .add-dialog__list-item.active * {
  color: white;
}

.header .add-dialog__list-item .logo {
  margin-right: 12px;
}

.header .add-dialog__list-item__name {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header .add-dialog__add-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 27px;
}

.header .add-dialog__add-form button {
  width: auto;
  margin: 0;
  padding: 6px 10px;
  color: #40A7E3;
  background-color: transparent;
}
/*# sourceMappingURL=Header.css.map */